.main {
    background-color: #e0f7fa;
    padding: 20px;
    flex: 1;
  }
  
  .buddies,
  .courses,
  .skills {
    margin-bottom: 30px;
  }
  
  .buddies h2,
  .courses h2,
  .skills h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .buddyList,
  .courseList,
  .skillList {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .buddy,
  .course,
  .skill {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #004d40;
    border-radius: 5px;
    text-align: center;
    flex: 1;
  }
  
  .buddies img {
    width: 100%;
    margin-top: 15px;
  }
  