.topCourses {
    margin: 50px 0;
    text-align: center;
  }
  
  .courseList {
    display: flex;
    justify-content: space-around;
  }
  
  .course {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }
  